@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import 'base';
// Global Sass Variales
$black: black;
$white: white;
$tinted: rgb(217, 31, 24);
$outerspace: rgba(210, 215, 211, 1);
$onblack: rgba(217, 31, 24, 0.5);

// Adding styles to website - Designing mobile first.
// Nav bar
.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  text-decoration: none;
  width: 100%;
  background-color: $black;
  border-bottom: 7px solid $onblack;
  nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 12px;
    @media (min-width: 1224px) {
      nav {
        width: 90%;
        margin: 0 auto;
      }
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      width: 100%;
      margin: 0;
      padding: 0;
      a {
        color: $outerspace;
        padding: 10px;
        text-decoration: none;
        @media (min-width: 768px) {
          font-size: 25px;
        }
        &:hover {
          color: $tinted;
          padding-bottom: 18px;
          z-index: 1;
          border-bottom: 7px solid $outerspace;
          @media (min-width: 768px) {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
.intro-images {
  position: relative;
  padding: 0;
  margin: 0;
  @media (min-width: 1224px) {
    .landing {
      height: auto;
    }
  }
  .logo {
    img {
      position: absolute;
      padding: 0;
      width: 50%;
      height: 100%;
      top: 50%;
      left: 49%;
      transform: translate(-50%, -50%);
    }
  }
}
// about us
.about {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $outerspace;
  .about-us {
    padding: 10px;
    width: 95%;
    height: auto;
    line-height: 25px;
    text-align: center;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.95);
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    @media (min-width: 768px) {
      line-height: 45px;
      width: 75%;
    }
  }
}
// my services
.services-one {
  position: relative;
  background-color: $outerspace;
  .top {
    font-size: 12px;
    padding: 5px;
    width: 95%;
    height: auto;
    line-height: 14px;
    color: $white;
    background-color: rgba(0, 0, 0, 0.95);
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (min-width: 768px) {
      font-size: 28px;
      line-height: 40px;
    }
  }
}
// my services bottom
.services-two {
  position: relative;
  background-color: $outerspace;
  .bottom {
    color: $white;
    font-size: 12px;
    line-height: 14px;
    width: 95%;
    height: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.95);
    border: 2px solid rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    .hide {
      display: none;
    }
    @media (min-width: 768px) {
      font-size: 25px;
      line-height: 28px;
      height: auto;
      .hide {
        display: block;
      }
    }
  }
}
.jordan {
  background-color: $outerspace;
  padding: 10px;
  h2 {
    color: $tinted;
  }
  #head {
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: $outerspace;
  }
  .hideMe {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    .hide-content {
      font-size: 15px;
      background-color: $outerspace;
      margin: 50px auto;
      padding: 15px;
      line-height: 24px;
      border: 1px solid #888;
      width: 90%;
      color: $black;
      .close {
        color: $black;
        float: right;
        font-size: 28px;
        &:hover {
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}
// map iframe
.map {
  iframe {
    display: block;
    width: 100%;
  }
}
// contact form
.form {
  background-color: $outerspace;
  width: 100%;
  #form {
    padding: 20px;
    margin: 0 auto;
    background-color: $white;
    input {
      font-size: 10px;
      width: 100%;
      height: 70px;
      padding: 0px 15px 0px 15px;
      background: transparent;
      outline: none;
      color: $black;
      border: solid 1px $black;
      border-bottom: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $onblack;
        color: #e2dedb;
      }
    }
    textarea {
      width: 100%;
      height: 150px;
      padding: 15px;
      background: transparent;
      outline: none;
      color: $black;
      font-size: 10px;
      border: solid 1px $black;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $onblack;
        color: #e2dedb;
      }
    }
    #submit {
      width: 100%;
      padding: 0;
      margin: -5px 0px 0px 0px;
      font-size: 20px;
      color: #b3aca7;
      outline: none;
      cursor: pointer;
      border: solid 1px $black;
      border-top: none;
      &:hover {
        color: $black;
      }
    }
  }
}
footer {
  .social {
    display: flex;
    justify-content: space-evenly;
    background-color: $outerspace;
    .fa-facebook,
    .fa-instagram,
    .fa-twitter-square {
      margin: 0;
      padding: 10px;
      color: $black;
      &:hover {
        color: $tinted;
      }
      @media (min-width: 768px) {
        width: 35%;
      }
    }
  }
  .copy-right {
    color: $white;
    background-color: $black;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
}
// Styles for desktop. When i originally started i nested desktop outside of the main structure. Wanted to see the difference.
@media (min-width: 1224px) {
  .about {
    display: flex;
    flex-direction: row;
    height: auto;
    img {
      width: 50%;
    }
    .about-us {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      align-self: center;
      width: 50%;
      font-size: 30px;
      line-height: 55px;
      border: none;
      background-color: transparent;
      color: $black;
    }
  }
  .services-one {
    display: flex;
    flex-direction: row-reverse;
    img {
      width: 50%;
    }
    .top {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      align-self: center;
      font-size: 25px;
      line-height: 30px;
      border: none;
      background-color: transparent;
      color: $black;
    }
  }
  .services-two {
    display: flex;
    flex-direction: row;
    img {
      width: 50%;
      height: 100%;
    }
    .bottom,
    .services-mobile {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      align-self: center;
      font-size: 20px;
      line-height: 21px;
      width: 50%;
      height: auto;
      padding: 15px;
      border: none;
      background-color: transparent;
      color: $black;
    }
  }
  .jordan {
    color: $white;
    #head {
      width: 25%;
      height: 25%;
    }
    .hide-content {
      p {
        font-size: 30px;
        line-height: 50px;
      }
    }
  }
  .map {
    iframe {
      height: 700px;
    }
  }
  #form {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    #submit {
      font-size: 20px;
    }
  }
  footer {
    .social {
      padding: 10px;
      background-color: transparent;
      .facebook,
      .insta,
      .twitter {
        width: 20%;
      }
    }
    .copy-right {
      background-color: $black;
    }
  }
}
